[submodule "ch-connector/clickhouse"]
	path = ch-connector/clickhouse
	url = git@github.com:yandex/clickhouse
	ignore = dirty
[submodule "benchmark/tpch-dbgen"]
	path = benchmark/tpch-dbgen
	url = git@github.com:electrum/tpch-dbgen
[submodule "spark-connector/spark"]
	path = spark-connector/spark
	url = git@github.com:apache/spark
[submodule "ch-connector/arrow"]
	path = ch-connector/arrow
	url = git@github.com:apache/arrow
	ignore = dirty
