# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.class

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Go compile result
bin
pkg

# Python compile result
*.pyc

# Test data and result
data
db
db.idx
origin

# Java compile result
target
dependency-reduced-pom.xml

# C++ compile result
build

# JNI compile result
protocol/c-jni

# ch-connector compile result and running data dir
ch-connector/build
ch-connector/origin
ch-connector/running

# tpch generated data
benchmark/loading/tpch-*
benchmark/loading/backup

# spark-connector running data dir
spark-connector/spark-warehouse

# IDE or editor files
.idea
*.iml
*.swp

.DS_Store
