[submodule "benchmark/tpch-dbgen"]
	path = benchmark/tpch-dbgen
	url = http://github.com/electrum/tpch-dbgen
	ignore = dirty
[submodule "storage/ch"]
	path = storage/ch
	url = https://github.com/yandex/clickhouse
	ignore = dirty
