[submodule "benchmark/tpch-dbgen"]
	path = benchmark/tpch-dbgen
	url = http://github.com/electrum/tpch-dbgen
	ignore = dirty
[submodule "spark-connector/spark"]
	path = spark-connector/spark
	url = http://github.com/apache/spark
	ignore = dirty
[submodule "ch-connector/arrow"]
	path = ch-connector/arrow
	url = http://github.com/apache/arrow
	ignore = dirty
